<head>
  <meta charset="utf-8">
  <title>{{ site.author }}</title>
  <meta name="author" content={{ site.author }}>
  <meta name="description" content={{ site.description }}>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/brands.min.css">
  <style>{% include style.css %}</style>
</head>
